<h2>Edit flat <%= @flat.name %></h2>
<br>
<%= link_to  "Back to the list", flats_path %>

<%= simple_form_for(@flat) do |f| %>
  <%= f.input :name %>
  <%= f.input :address %>
  <%= f.input :description %>
  <%= f.input :price_per_night %>
  <%= f.input :number_of_guests %>
  <%= f.submit "Publish a flat" %>
<% end %>
