
<div class="container">

<h1 class="mt-3">All flats</h1>

<div class="row">
  <%  @flats.each do |flat|%>
    <div class="col-lg-4 col-md-6 col-sm-12">
            <div class="card flat-card" style="width: 18rem;">
              <img class="card-img-top" alt="Card image cap" src='<%= flat.image %>'>
                <div class="card-body">
                  <h5 class="card-title"><%= flat.name  %></h5>
                  <p class="card-text"><%= flat.address.truncate(30) %></p>
                    <div class="flat-figure">
                      <%# <div class="guests"> %>
                        <span class="line-figure"><i class="fas fa-user-friends"></i> <%= flat.number_of_guests %> - </span>
                      <%# </div> %>
                      <%# <div class="price"> %>
                        </span class="line-figure"><%= flat.price_per_night %> €/nuit  </span>
                      <%# </div> %>
                    </div>
                    <div class="card-link">
                      <%= link_to  "More info", flat_path(flat) %>
                      <%= link_to  "Edit", edit_flat_path(flat), class: 'text-warning' %>
                      <%= link_to "Delete", flat_path(flat),class: 'text-danger', method: :delete, data:{ confirm: "Delete the restaurant and the reviews" }  %>
                    </div>
                </div>
            </div>
    </div>
     <% end %>
</div>



