

<div class="map" style="background-image: url('<%= @flat.image %>')"></div>
<div class="container">

<br>

<div class="content">
  <div class="row">

    <div class="col-lg-8 col-md-12">
      <div class="flat-show-card">
        <h1><%= @flat.name %></h1>
        <p><%= @flat.address %></p>
      </div>


      <div class="flat-show-card">
      <h2>A bit more about this flat...</h2>
      <p><%= @flat.description %></p>
      </div>
    </div>
    <div class="col-lg-4 col-md-12">
      <div class="flat-show-card">
        <h4>Book the flat</h4>
          <form action="" class="booking-form">
            <div class="input-group">
              <span class="input-group-addon" id="basic-addon1">From:</span>
              <input type="text" class="form-control" placeholder="12/10/2017" aria-label="Username" aria-describedby="basic-addon1">
            </div>
            <div class="input-group mt-2">
              <span class="input-group-addon" id="basic-addon1">To:</span>
              <input type="text" class="form-control" placeholder="18/10/2017" aria-label="Username" aria-describedby="basic-addon1">
            </div>
            <input type="submit" value="Book" class="btn btn-success mt-2" style="width: 100%">
          </form>
      </div>
      <div class="flat-show-card">
      <h4>Details</h4>
      <div class="flex ">
        <i class="fas fa-user-friends"></i> <%= @flat.number_of_guests %>
        <%= @flat.price_per_night %> <span>€</span>
      </div>
      </div>

    </div>
  </div>
</div>

<%= link_to  "Back to the list", flats_path %>
</div>
